<!--====== Header Section Start ======-->
<header>
    <nav class="navigation">

        <!-- Logo -->
        <div class="logo">
            <h1>Brian Kawinzi</h1>
        </div>
        
        <!-- Navigation -->
        <ul class="menu-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#portfolio">Project</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="humbarger">
            <div class="bar"></div>
            <div class="bar2 bar"></div>
            <div class="bar"></div>
        </div>
    </nav>


</header>
