<div class="hero">
  <img src="src\assets\background.jpg" alt="Background" class="background">
  <div class="content">
    <h1>Brian Mustisya</h1>
    <h2>
      Software Developer | <span id="dynamic-text">{{ currentTitle }}</span>
    </h2>
    <div class="buttons">
      <button (click)="viewWork()">View My Work</button>
      <button (click)="downloadResume()">Download Resume</button>
    </div>
    <div class="social-icons">
      <a href="https://github.com/" target="_blank">GitHub</a>
      <a href="https://linkedin.com/" target="_blank">LinkedIn</a>
      <a href="mailto:email@example.com">Email</a>
    </div>
    <div class="explore">
      <span>Explore</span>
      <div class="arrows">
        <span>&darr;</span><span>&darr;</span>
      </div>
    </div>
  </div>
</div>

